* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-image: linear-gradient(to bottom, #000099, #000033);
    font-family: Verdana, sans-serif;
    color: #fff;
    text-align: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#word {
    margin-bottom: 5rem;
    font-size: 6rem;
}

#word span {
    margin-right: 2rem;
}

#word span:last-child {
    margin-right: 0;
}

#attempts {
    color: rgba(255, 255, 255, .8);
    margin-bottom: 5rem;
    font-size: 4rem;
    letter-spacing: 1.5px;
}

#guessed-letters {
    color: rgba(255, 255, 255, .6);
    margin-bottom: 5rem;
    font-size: 4rem;
    letter-spacing: 1.5px;
}

#guessed-letters span {
    margin-right: .5rem;
}

#btn-reset {
    align-self: center;
    background-image: linear-gradient(to bottom, #990000, #660000);
    padding: 1rem 2rem;
    border: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0,0,0, .4);
    color: #fff;
    font-size: 2.5rem;
    letter-spacing: 1.5px;
    cursor: pointer;
}

#btn-reset:hover {
    background-image: linear-gradient(to top, #990000, #660000);
}

#btn-reset:active,
#btn-reset:focus {
    outline: none;
}

/* Media Queries */
@media screen and (max-width: 750px) {
    html {
        font-size: 56.25%;
    }
}

@media screen and (max-width: 650px) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 575px) {
    html {
        font-size: 43.75%;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 37.5%;
    }
}

@media screen and (max-width: 425px) {
    html {
        font-size: 31.25%;
    }
}

@media screen and (max-width: 375px) {
    html {
        font-size: 25%;
    }
}

@media screen and (max-width: 325px) {
    html {
        font-size: 18.75%;
    }
}