* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1rem is nu 10px, in plaats van 16px */
}

body {
    font-family: Verdana, sans-serif;
    background-image: linear-gradient(to bottom, #000099, #000033);
    color: #fff;
}

.container {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#word {
    margin-bottom: 5rem;
    font-size: 7rem;
}

#word span {
    margin-right: 2rem;
}

#word span:last-child {
    margin-right: 0;
}

#attempts {
    margin-bottom: 5rem;
    font-size: 3.5rem;
    letter-spacing: 1.5px;
}

#guessed-letters {
    font-size: 2rem;
    letter-spacing: 1.5px;
}

#guessed-letters span {
    margin-right: .5rem;
}